/* CSSTerm.com Simple CSS menu */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

br { clear:left }

.menu_simple {
    background-color: #F8B400;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    justify-content: flex-start;
    align-content: center;
}

.menu_simple div{
    width: 100%;
    padding: 2px;
}

.menu_simple div a {
    text-decoration: none;
    color: #125B50; 
    padding: 2px;
}
 
.menu_simple div a:visited {
    color: rgb(0, 0, 0);
}
 
.menu_simple div a:hover, .menu_simple ul li .current {
    color: rgb(0, 0, 0);
    background-color: #125B50;
}

.cart-logo img{
    width: 30%;
    height: 10%;
  }

.card-imgs{
    max-width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    font-family: 'Staatliches', cursive;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    color: #F8B400;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #F8B400;
}

.footer-bottom{
    font-family: 'Staatliches', cursive;
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    color:#afafaf;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#F8B400;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    color: #fff;
    text-transform: uppercase;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #F8B400;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}}

.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

.counter{
    outline: none;
    width: 2em;
    text-align: center;
    font-weight: bolder;
}

.counter-hide{
    display: none;
}

.cart-badge{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #125B50;
    border-radius: 80px;
}

.spinnerLoad{
    margin: 100px;
}

.cartImg{
    align-items: center;
    padding: 12px;
    width: 8rem;
    background-color: rgb(220, 220, 220);
    border: #F8B400 solid 1.5px;
}

.cartImg img{
    align-items: center;
    width: 100%;
}

.orderForm{
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}